body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    height: 100vh;
    width: 100vw;
    background: #383A47;
    color: #fff;
    box-sizing: border-box;
}

a {
    color: #fff;
}



.right-section {
    /* padding: 30px 30px 0 30px; */
    display: inline-block;
    width: 60%;
    /* justify-self: flex-start; */
    }
    
    .form-wrapper {
    height: 100%;
    width: 100%;
    
    }
    
    .form-wrapper form {
        padding: 5%;
        height: 85%;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 20px;
        position: relative;
    }
    
    input:-webkit-autofill,
    input:-webkit-autofill:focus {
        border-top: none;
        border-left: none;
        border-right: none;
        -webkit-text-fill-color: #fff;
        -webkit-box-shadow: 0 0 0 30px inset #383A47;
        transition: none;
      }
    
    .text-input-style {
        border: none;
        border-bottom: 1px solid rgb(192, 192, 192);
        background: transparent;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 16px;
        color: rgb(255, 255, 255);
        transition: 0.5s;
        width: 50%;
    }
    
    .text-input-style-red {
        border: none;
        border-bottom: 1px solid #E07171;
        background: transparent;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 16px;
        color: rgb(255, 255, 255);
        transition: 0.5s;
        width: 60px;
    }
    
    .text-input-style-red:focus {
        outline: none;
        background: transparent;
        border-radius: 5px;
        border-bottom: 1px solid #E07171;
        
    }
    
    .text-input-style:focus {
        outline: none;
        background: transparent;
        border-radius: 5px;
        border-bottom: 1px solid rgb(255, 255, 255);
        
    }
    
    .firstq-wrap {
        margin-bottom: 60px;
        margin-top: 30px;
    }
    
    .firstq-label {
        
    }
    
    .firstq-text-input {
        margin-top: 20px;
    }
    
    .secondq-wrap {
        margin-bottom: 60px;
    }
    
    .hours-wrap label, 
    .minutes-wrap label {
        padding-right: 20px;
    }
    
    .secondq-label,
    .time-wrap {
    width: 100%;
    max-width: 550px;
    }
    
    .time-wrap {
        margin-top: 30px;
        justify-content: space-between;
        display: flex;
    }
    
    .hours-wrap {
        display: flex;
        align-items: center;
    }
    
    .minutes-wrap {
        display: flex;
        align-items: center;
    }
    
    .thirdq-wrap {
    
    }
    
    .thirdq-wrap-0,
     .thirdq-wrap-1,
     .thirdq-wrap-2,
     .thirdq-wrap-3 {
         padding-top: 20px;
     }
    
     .thirdq-wrap-1,
     .thirdq-wrap-2,
     .thirdq-wrap-3 {
         display: flex;
         align-items: center;
     }
    
     .thirdq-wrap-1 input,
     .thirdq-wrap-2 input,
     .thirdq-wrap-3 input {
         margin-right: 20px;
     }
    
    
    .next-btn {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 30px;
        right: 100px;
    }
    
    .next-btn svg {
        left: 80px;
        position: absolute;
        transition: 300ms;
    }
    
    .next-btn:hover svg {
    left: 100px;
    transition: 300ms;
    }
    
    .next-btn p {
        margin: none;
        padding-right: 70px;
    }